@import "bootstrap.css";

.about {
  padding: 0 10px;
}

/* This is from bootstrap-responsive.css but this is the
 * only thing used from it so we don't need to include
 * all of it. */
.hidden {
  display: none;
  visibility: hidden;
}

#random-list {
  margin: 0 0 10px 0;
  padding: 5px 10px;
  min-height: 300px;
}

#random-list li {
  list-style-type: none;
  padding-bottom: 10px;
}

.no-searches {
  list-style-type: none;
  color: #999999;
  font-style: bold;
  padding: 5px 3px;
  position: relative;
  left: -2em;
}
